@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.gradient {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.space-x-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: 0;
  margin-left: 0;
}

/* Custom styles for react-slick dots */
.slick-dots {
  top: 90%; /* Adjust position if needed */
  position: fixed;
}

.slick-dots li {
  width: 6px; /* Make the dots bigger */
  height: 6px; /* Make the dots bigger */
  color: white;
  background-color: rgb(200, 200, 200);
  border-radius: 100%;
}

.slick-dots li button {
  width: 12px; /* Make the dots bigger */
  height: 12px; /* Make the dots bigger */
  border-radius: 50%; /* Make the dots round */
  background-color: white; /* White color for the dots */
  color: white;
}

.slick-dots li.slick-active button {
  background-color: white;
}
