@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.gradient {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}


.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}